In [2]:
import os
import pandas as pd
import numpy as np
from itertools import product

num_qubits = 15
eps = 0.05

results_dir = "results/genetic/distributions"
x_operations = ["cycle", "order", "pmx"]
mut_operations = ["insert", "inverse", "scramble"]

In [31]:
def construct_dataframe(dist_name:str, model_type:str, x_operations: list, mut_operations: list, results_dir: str, num_qubits: int , eps: float):

    mean_fitness_dict = {"cycle": [] , "order": [], "pmx":  []}
    std_fitness_dict = {"cycle": [] , "order": [], "pmx":  []}

    for (x_op, mut_op) in product(x_operations, mut_operations): 
        temp_dir = os.path.join(results_dir, f"{dist_name}_{x_op}_{mut_op}/run_1")
        csv_dir = os.path.join(temp_dir, "csv")
        statistics_file = os.path.join(csv_dir, f"{model_type}_statistics_{num_qubits}qb_{eps}eps.csv")
        df_statistics = pd.read_csv(statistics_file, delimiter=",", header=0)

        mean_fitness = df_statistics[["mean_fitness"]].to_numpy().tolist()[-1]
        mean_fitness_dict[x_op] += mean_fitness

        std_fitness = df_statistics[["std_fitness"]].to_numpy().tolist()[-1]
        std_fitness_dict[x_op] += std_fitness


    df_mean_fitness = pd.DataFrame.from_dict(mean_fitness_dict, orient="index")
    df_mean_fitness.columns = mut_operations

    df_std_fitness = pd.DataFrame.from_dict(std_fitness_dict, orient="index")
    df_std_fitness.columns = mut_operations

    return df_mean_fitness, df_std_fitness

# $log$-Normal $(\mu  = 0.1 , \sigma = 0.3)$

In [46]:
dist_name = "lognormal" 
model_type = "original"
print("---"*10, "\t ORIGINAL \t", "---"*10)
original_df_mean_fit, original_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(original_df_mean_fit)
print("\t STD: ")
display(original_df_std_fit)

print("---"*10, "\t MODIFIED \t", "---"*10)
model_type = "modified"
modified_df_mean_fit, modified_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(modified_df_mean_fit)
print("\t STD: ")
display(modified_df_std_fit)

print("---"*10, "\t COMPARING \t", "---"*10)

print("\t MODIFIED(mean) < ORIGINAL(mean) ")

display(modified_df_mean_fit < original_df_mean_fit)

print("\t 1 - MODIFIED(mean)/ORIGINAL(mean)")
display(1 - modified_df_mean_fit /original_df_mean_fit)

------------------------------ 	 ORIGINAL 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.232843  0.229159  0.233802
order  0.233390  0.181566  0.230121
pmx    0.226186  0.199519  0.233659

	 STD:

         insert   inverse  scramble
cycle  0.001431  0.007450  0.000813
order  0.000513  0.090117  0.006179
pmx    0.001571  0.060879  0.000207

------------------------------ 	 MODIFIED 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.195019  0.197512  0.234573
order  0.393207  0.117534  0.182555
pmx    0.241686  0.240029  0.200345

	 STD:

         insert   inverse  scramble
cycle  0.059172  0.062977  0.098012
order  0.354418  0.075705  0.087275
pmx    0.092971  0.026867  0.062423

------------------------------ 	 COMPARING 	 ------------------------------
	 MODIFIED(mean) < ORIGINAL(mean)

       insert  inverse  scramble
cycle    True     True     False
order   False     True      True
pmx     False    False      True

	 1 - MODIFIED(mean)/ORIGINAL(mean)

         insert   inverse  scramble
cycle  0.162446  0.138099 -0.003298
order -0.684766  0.352662  0.206702
pmx   -0.068525 -0.203039  0.142575

# Bimodal $(\mu_1 = 0.25, \sigma_1 = 0.1 ; \mu_2 = 0.75, \sigma = 0.15)$

In [45]:
dist_name = "bimodal"
 
model_type = "original"
print("---"*10, "\t ORIGINAL \t", "---"*10)
original_df_mean_fit, original_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(original_df_mean_fit)
print("\t STD: ")
display(original_df_std_fit)

print("---"*10, "\t MODIFIED \t", "---"*10)
model_type = "modified"
modified_df_mean_fit, modified_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(modified_df_mean_fit)
print("\t STD: ")
display(modified_df_std_fit)


print("---"*10, "\t COMPARING \t", "---"*10)

print("\t MODIFIED(mean) < ORIGINAL(mean) ")

display(modified_df_mean_fit < original_df_mean_fit)

print("\t 1 - MODIFIED(mean)/ORIGINAL(mean)")
display(1 - modified_df_mean_fit /original_df_mean_fit)

------------------------------ 	 ORIGINAL 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.204133  0.203968  0.395027
order  0.196697  0.159404  0.197431
pmx    0.197164  0.202654  0.395702

	 STD:

         insert   inverse  scramble
cycle  0.000350  0.000280  0.345744
order  0.013553  0.063111  0.012164
pmx    0.012344  0.002494  0.347073

------------------------------ 	 MODIFIED 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.168558  0.207396  0.396426
order  0.168043  0.132779  0.202436
pmx    0.200872  0.182792  0.170446

	 STD:

         insert   inverse  scramble
cycle  0.069605  0.002475  0.359454
order  0.065939  0.076998  0.014410
pmx    0.013817  0.033972  0.081474

------------------------------ 	 COMPARING 	 ------------------------------
	 MODIFIED(mean) < ORIGINAL(mean)

       insert  inverse  scramble
cycle    True    False     False
order    True     True     False
pmx     False     True      True

	 MODIFIED(mean)/ORIGINAL(mean)

         insert   inverse  scramble
cycle  0.174271 -0.016807 -0.003542
order  0.145676  0.167032 -0.025347
pmx   -0.018806  0.098009  0.569258

# Normal $(\mu = 0.5, \sigma = 3)$

In [39]:
dist_name = "normal"
 
model_type = "original"
print("---"*10, "\t ORIGINAL \t", "---"*10)
original_df_mean_fit, original_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(original_df_mean_fit)
print("\t STD: ")
display(original_df_std_fit)

print("---"*10, "\t MODIFIED \t", "---"*10)
model_type = "modified"
modified_df_mean_fit, modified_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(modified_df_mean_fit)
print("\t STD: ")
display(modified_df_std_fit)

------------------------------ 	 ORIGINAL 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.976415  0.953837  0.983981
order  0.970756  0.983751  0.985346
pmx    0.984620  0.970249  0.970150

	 STD:

         insert   inverse  scramble
cycle  0.023747  0.016464  0.027746
order  0.030856  0.028145  0.025381
pmx    0.026639  0.040828  0.029925

------------------------------ 	 MODIFIED 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.984605  0.978755  0.969201
order  0.990258  0.977960  0.985705
pmx    0.991375  0.980731  0.981815

	 STD:

         insert   inverse  scramble
cycle  0.017615  0.013075  0.018478
order  0.016866  0.013414  0.018367
pmx    0.014936  0.012447  0.011033

# Laplace $(\mu = 0.5, \sigma = 0.2)$

In [44]:
dist_name = "laplace"
 
model_type = "original"
print("---"*10, "\t ORIGINAL \t", "---"*10)
original_df_mean_fit, original_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(original_df_mean_fit)
print("\t STD: ")
display(original_df_std_fit)

print("---"*10, "\t MODIFIED \t", "---"*10)
model_type = "modified"
modified_df_mean_fit, modified_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(modified_df_mean_fit)
print("\t STD: ")
display(modified_df_std_fit)


print("---"*10, "\t COMPARING \t", "---"*10)

print("\t MODIFIED(mean) < ORIGINAL(mean) ")

display(modified_df_mean_fit < original_df_mean_fit)

print("\t MODIFIED(mean)/ORIGINAL(mean)")
display(1 - modified_df_mean_fit /original_df_mean_fit)

------------------------------ 	 ORIGINAL 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.489501  0.310300  0.328370
order  0.320951  0.446116  0.272771
pmx    0.272230  0.321838  0.250778

	 STD:

         insert   inverse  scramble
cycle  0.293085  0.006705  0.005434
order  0.002177  0.217385  0.091106
pmx    0.085710  0.000771  0.123533

------------------------------ 	 MODIFIED 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.272004  0.279969  0.607255
order  0.318836  0.132809  0.232586
pmx    0.233348  0.295450  0.260930

	 STD:

         insert   inverse  scramble
cycle  0.091114  0.095360  0.395773
order  0.017549  0.128627  0.067908
pmx    0.081147  0.023059  0.075030

------------------------------ 	 COMPARING 	 ------------------------------
	 MODIFIED(mean) < ORIGINAL(mean)

       insert  inverse  scramble
cycle    True     True     False
order    True     True      True
pmx      True     True     False

	 MODIFIED(mean)/ORIGINAL(mean)

         insert   inverse  scramble
cycle  0.444324  0.097749 -0.849302
order  0.006590  0.702300  0.147321
pmx    0.142830  0.081991 -0.040484