In [6]:
import os
import pandas as pd
import numpy as np
from itertools import product

num_qubits = 15
eps = 0.05

results_dir = "results/genetic/distributions_full_training"
x_operations = ["cycle", "order", "pmx"]
mut_operations = ["insert", "inverse", "scramble"]

In [7]:
def construct_dataframe(dist_name:str, model_type:str, x_operations: list, mut_operations: list, results_dir: str, num_qubits: int , eps: float):

    mean_fitness_dict = {"cycle": [] , "order": [], "pmx":  []}
    std_fitness_dict = {"cycle": [] , "order": [], "pmx":  []}

    for (x_op, mut_op) in product(x_operations, mut_operations):
        mean_list = []
        for run_idx in range(1, 11):
            temp_dir = os.path.join(results_dir, f"{dist_name}_{x_op}_{mut_op}/run_{run_idx}")
            csv_dir = os.path.join(temp_dir, "csv")
            statistics_file = os.path.join(csv_dir, f"{model_type}_statistics_{num_qubits}qb_{eps}eps.csv")
            df_statistics = pd.read_csv(statistics_file, delimiter=",", header=0)

            mean_list += [df_statistics[["mean_fitness"]].to_numpy().tolist()[-1]]
        
        mean_fitness = np.mean(mean_list)
        std_fitness = np.std(mean_list)
        
        mean_fitness_dict[x_op] += [mean_fitness]
        #std_fitness = df_statistics[["std_fitness"]].to_numpy().tolist()[-1]
        std_fitness_dict[x_op] += [std_fitness]


    df_mean_fitness = pd.DataFrame.from_dict(mean_fitness_dict, orient="index")
    df_mean_fitness.columns = mut_operations

    df_std_fitness = pd.DataFrame.from_dict(std_fitness_dict, orient="index")
    df_std_fitness.columns = mut_operations

    return df_mean_fitness, df_std_fitness

# $log$-Normal $(\mu  = 0.1 , \sigma = 0.3)$

In [8]:
dist_name = "lognormal" 
model_type = "original"
print("---"*10, "\t ORIGINAL \t", "---"*10)
original_df_mean_fit, original_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(original_df_mean_fit)
print("\t STD: ")
display(original_df_std_fit)

print("---"*10, "\t MODIFIED \t", "---"*10)
model_type = "modified"
modified_df_mean_fit, modified_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(modified_df_mean_fit)
print("\t STD: ")
display(modified_df_std_fit)

print("---"*10, "\t COMPARING \t", "---"*10)

print("\t MODIFIED(mean) < ORIGINAL(mean) ")

display(modified_df_mean_fit < original_df_mean_fit)

print("\t 1 - MODIFIED(mean)/ORIGINAL(mean)")
display(1 - modified_df_mean_fit /original_df_mean_fit)

------------------------------ 	 ORIGINAL 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.229007  0.245020  0.227339
order  0.214732  0.210329  0.212420
pmx    0.227498  0.209187  0.209916

	 STD:

         insert   inverse  scramble
cycle  0.003168  0.051645  0.010908
order  0.024916  0.033535  0.016899
pmx    0.010784  0.033361  0.030495

------------------------------ 	 MODIFIED 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.196102  0.186647  0.179983
order  0.196875  0.192753  0.171982
pmx    0.189060  0.215660  0.169985

	 STD:

         insert   inverse  scramble
cycle  0.017515  0.021374  0.091649
order  0.067722  0.016553  0.036715
pmx    0.014244  0.101597  0.041819

------------------------------ 	 COMPARING 	 ------------------------------
	 MODIFIED(mean) < ORIGINAL(mean)

       insert  inverse  scramble
cycle    True     True      True
order    True     True      True
pmx      True    False      True

	 1 - MODIFIED(mean)/ORIGINAL(mean)

         insert   inverse  scramble
cycle  0.143685  0.238239  0.208304
order  0.083158  0.083563  0.190367
pmx    0.168962 -0.030942  0.190221

# Bimodal $(\mu_1 = 0.25, \sigma_1 = 0.1 ; \mu_2 = 0.75, \sigma = 0.15)$

In [9]:
dist_name = "bimodal"
 
model_type = "original"
print("---"*10, "\t ORIGINAL \t", "---"*10)
original_df_mean_fit, original_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(original_df_mean_fit)
print("\t STD: ")
display(original_df_std_fit)

print("---"*10, "\t MODIFIED \t", "---"*10)
model_type = "modified"
modified_df_mean_fit, modified_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(modified_df_mean_fit)
print("\t STD: ")
display(modified_df_std_fit)


print("---"*10, "\t COMPARING \t", "---"*10)

print("\t MODIFIED(mean) < ORIGINAL(mean) ")

display(modified_df_mean_fit < original_df_mean_fit)

print("\t 1 - MODIFIED(mean)/ORIGINAL(mean)")
display(1 - modified_df_mean_fit /original_df_mean_fit)

------------------------------ 	 ORIGINAL 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.201498  0.215486  0.203213
order  0.193739  0.178867  0.177310
pmx    0.179127  0.186564  0.218198

	 STD:

         insert   inverse  scramble
cycle  0.006555  0.061055  0.000789
order  0.016194  0.018680  0.027348
pmx    0.025687  0.025762  0.062462

------------------------------ 	 MODIFIED 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.178724  0.162594  0.163048
order  0.157766  0.160097  0.140749
pmx    0.180276  0.165231  0.153988

	 STD:

         insert   inverse  scramble
cycle  0.017966  0.024241  0.022256
order  0.021782  0.022636  0.044829
pmx    0.020011  0.019281  0.032705

------------------------------ 	 COMPARING 	 ------------------------------
	 MODIFIED(mean) < ORIGINAL(mean)

       insert  inverse  scramble
cycle    True     True      True
order    True     True      True
pmx     False     True      True

	 1 - MODIFIED(mean)/ORIGINAL(mean)

         insert   inverse  scramble
cycle  0.113023  0.245453  0.197651
order  0.185675  0.104937  0.206195
pmx   -0.006413  0.114345  0.294272

# Normal $(\mu = 0.5, \sigma = 0.3)$

In [10]:
dist_name = "normal"
 
model_type = "original"
print("---"*10, "\t ORIGINAL \t", "---"*10)
original_df_mean_fit, original_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(original_df_mean_fit)
print("\t STD: ")
display(original_df_std_fit)

print("---"*10, "\t MODIFIED \t", "---"*10)
model_type = "modified"
modified_df_mean_fit, modified_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(modified_df_mean_fit)
print("\t STD: ")
display(modified_df_std_fit)

print("---"*10, "\t COMPARING \t", "---"*10)

print("\t MODIFIED(mean) < ORIGINAL(mean) ")

display(modified_df_mean_fit < original_df_mean_fit)

print("\t MODIFIED(mean)/ORIGINAL(mean)")
display(1 - modified_df_mean_fit /original_df_mean_fit)

------------------------------ 	 ORIGINAL 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.100110  0.111909  0.113307
order  0.101629  0.098837  0.102977
pmx    0.126466  0.132914  0.105997

	 STD:

         insert   inverse  scramble
cycle  0.026475  0.004076  0.001325
order  0.011709  0.016812  0.010734
pmx    0.070291  0.067538  0.010056

------------------------------ 	 MODIFIED 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.107297  0.075220  0.080707
order  0.106386  0.103049  0.114027
pmx    0.088535  0.096833  0.108703

	 STD:

         insert   inverse  scramble
cycle  0.076291  0.028853  0.022293
order  0.077022  0.069746  0.066492
pmx    0.012027  0.067045  0.072917

------------------------------ 	 COMPARING 	 ------------------------------
	 MODIFIED(mean) < ORIGINAL(mean)

       insert  inverse  scramble
cycle   False     True      True
order   False    False     False
pmx      True     True     False

	 MODIFIED(mean)/ORIGINAL(mean)

         insert   inverse  scramble
cycle -0.071789  0.327854  0.287711
order -0.046802 -0.042623 -0.107300
pmx    0.299933  0.271463 -0.025528

# Laplace $(\mu = 0.5, \sigma = 0.2)$

In [11]:
dist_name = "laplace"
 
model_type = "original"
print("---"*10, "\t ORIGINAL \t", "---"*10)
original_df_mean_fit, original_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(original_df_mean_fit)
print("\t STD: ")
display(original_df_std_fit)

print("---"*10, "\t MODIFIED \t", "---"*10)
model_type = "modified"
modified_df_mean_fit, modified_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(modified_df_mean_fit)
print("\t STD: ")
display(modified_df_std_fit)


print("---"*10, "\t COMPARING \t", "---"*10)

print("\t MODIFIED(mean) < ORIGINAL(mean) ")

display(modified_df_mean_fit < original_df_mean_fit)

print("\t MODIFIED(mean)/ORIGINAL(mean)")
display(1 - modified_df_mean_fit /original_df_mean_fit)

------------------------------ 	 ORIGINAL 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.291021  0.303466  0.310217
order  0.309744  0.289178  0.301706
pmx    0.312486  0.289035  0.300035

	 STD:

         insert   inverse  scramble
cycle  0.100833  0.020803  0.017845
order  0.056991  0.035889  0.070387
pmx    0.012260  0.032402  0.024940

------------------------------ 	 MODIFIED 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.238989  0.275893  0.268474
order  0.236228  0.278480  0.235995
pmx    0.262789  0.224095  0.239270

	 STD:

         insert   inverse  scramble
cycle  0.059466  0.057900  0.084638
order  0.054284  0.061636  0.050954
pmx    0.029088  0.062645  0.095588

------------------------------ 	 COMPARING 	 ------------------------------
	 MODIFIED(mean) < ORIGINAL(mean)

       insert  inverse  scramble
cycle    True     True      True
order    True     True      True
pmx      True     True      True

	 MODIFIED(mean)/ORIGINAL(mean)

         insert   inverse  scramble
cycle  0.178791  0.090859  0.134560
order  0.237345  0.036992  0.217796
pmx    0.159037  0.224679  0.202527