In [1]:
import os
import pandas as pd
import numpy as np
from itertools import product

num_qubits = 15
eps = 0.05

results_dir = "results/genetic/distributions_full_training"
x_operations = ["cycle", "order", "pmx"]
mut_operations = ["insert", "inverse", "scramble"]

In [2]:
def construct_dataframe(dist_name:str, model_type:str, x_operations: list, mut_operations: list, results_dir: str, num_qubits: int , eps: float):

    mean_fitness_dict = {"cycle": [] , "order": [], "pmx":  []}
    std_fitness_dict = {"cycle": [] , "order": [], "pmx":  []}

    for (x_op, mut_op) in product(x_operations, mut_operations): 
        temp_dir = os.path.join(results_dir, f"{dist_name}_{x_op}_{mut_op}/run_1")
        csv_dir = os.path.join(temp_dir, "csv")
        statistics_file = os.path.join(csv_dir, f"{model_type}_statistics_{num_qubits}qb_{eps}eps.csv")
        df_statistics = pd.read_csv(statistics_file, delimiter=",", header=0)

        mean_fitness = df_statistics[["mean_fitness"]].to_numpy().tolist()[-1]
        mean_fitness_dict[x_op] += mean_fitness

        std_fitness = df_statistics[["std_fitness"]].to_numpy().tolist()[-1]
        std_fitness_dict[x_op] += std_fitness


    df_mean_fitness = pd.DataFrame.from_dict(mean_fitness_dict, orient="index")
    df_mean_fitness.columns = mut_operations

    df_std_fitness = pd.DataFrame.from_dict(std_fitness_dict, orient="index")
    df_std_fitness.columns = mut_operations

    return df_mean_fitness, df_std_fitness

# $log$-Normal $(\mu  = 0.1 , \sigma = 0.3)$

In [3]:
dist_name = "lognormal" 
model_type = "original"
print("---"*10, "\t ORIGINAL \t", "---"*10)
original_df_mean_fit, original_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(original_df_mean_fit)
print("\t STD: ")
display(original_df_std_fit)

print("---"*10, "\t MODIFIED \t", "---"*10)
model_type = "modified"
modified_df_mean_fit, modified_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(modified_df_mean_fit)
print("\t STD: ")
display(modified_df_std_fit)

print("---"*10, "\t COMPARING \t", "---"*10)

print("\t MODIFIED(mean) < ORIGINAL(mean) ")

display(modified_df_mean_fit < original_df_mean_fit)

print("\t 1 - MODIFIED(mean)/ORIGINAL(mean)")
display(1 - modified_df_mean_fit /original_df_mean_fit)

------------------------------ 	 ORIGINAL 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.228619  0.396235  0.233118
order  0.228896  0.194934  0.196255
pmx    0.233197  0.196312  0.224044

	 STD:

         insert   inverse  scramble
cycle  0.008131  0.282243  0.000308
order  0.007551  0.063292  0.064055
pmx    0.000202  0.064088  0.005351

------------------------------ 	 MODIFIED 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.210059  0.219121  0.085294
order  0.151464  0.194817  0.189161
pmx    0.192005  0.226840  0.071083

	 STD:

         insert   inverse  scramble
cycle  0.008683  0.012526  0.000083
order  0.066727  0.063936  0.060069
pmx    0.067669  0.008675  0.026457

------------------------------ 	 COMPARING 	 ------------------------------
	 MODIFIED(mean) < ORIGINAL(mean)

       insert  inverse  scramble
cycle    True     True      True
order    True     True      True
pmx      True    False      True

	 1 - MODIFIED(mean)/ORIGINAL(mean)

         insert   inverse  scramble
cycle  0.081182  0.446992  0.634115
order  0.338286  0.000600  0.036151
pmx    0.176640 -0.155507  0.682727

# Bimodal $(\mu_1 = 0.25, \sigma_1 = 0.1 ; \mu_2 = 0.75, \sigma = 0.15)$

In [4]:
dist_name = "bimodal"
 
model_type = "original"
print("---"*10, "\t ORIGINAL \t", "---"*10)
original_df_mean_fit, original_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(original_df_mean_fit)
print("\t STD: ")
display(original_df_std_fit)

print("---"*10, "\t MODIFIED \t", "---"*10)
model_type = "modified"
modified_df_mean_fit, modified_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(modified_df_mean_fit)
print("\t STD: ")
display(modified_df_std_fit)


print("---"*10, "\t COMPARING \t", "---"*10)

print("\t MODIFIED(mean) < ORIGINAL(mean) ")

display(modified_df_mean_fit < original_df_mean_fit)

print("\t 1 - MODIFIED(mean)/ORIGINAL(mean)")
display(1 - modified_df_mean_fit /original_df_mean_fit)

------------------------------ 	 ORIGINAL 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.204220  0.178523  0.203733
order  0.203229  0.165324  0.163446
pmx    0.203629  0.123866  0.202155

	 STD:

         insert   inverse  scramble
cycle  0.001705  0.014387  0.000003
order  0.000669  0.066525  0.066183
pmx    0.000154  0.079868  0.002736

------------------------------ 	 MODIFIED 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.161315  0.189376  0.144751
order  0.163430  0.156852  0.125229
pmx    0.163086  0.164800  0.158019

	 STD:

         insert   inverse  scramble
cycle  0.069410  0.011065  0.054760
order  0.068957  0.066120  0.078139
pmx    0.070386  0.066109  0.078328

------------------------------ 	 COMPARING 	 ------------------------------
	 MODIFIED(mean) < ORIGINAL(mean)

       insert  inverse  scramble
cycle    True    False      True
order    True     True      True
pmx      True    False      True

	 1 - MODIFIED(mean)/ORIGINAL(mean)

         insert   inverse  scramble
cycle  0.210092 -0.060796  0.289505
order  0.195833  0.051246  0.233818
pmx    0.199103 -0.330477  0.218331

# Normal $(\mu = 0.5, \sigma = 3)$

In [5]:
dist_name = "normal"
 
model_type = "original"
print("---"*10, "\t ORIGINAL \t", "---"*10)
original_df_mean_fit, original_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(original_df_mean_fit)
print("\t STD: ")
display(original_df_std_fit)

print("---"*10, "\t MODIFIED \t", "---"*10)
model_type = "modified"
modified_df_mean_fit, modified_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(modified_df_mean_fit)
print("\t STD: ")
display(modified_df_std_fit)

print("---"*10, "\t COMPARING \t", "---"*10)

print("\t MODIFIED(mean) < ORIGINAL(mean) ")

display(modified_df_mean_fit < original_df_mean_fit)

print("\t MODIFIED(mean)/ORIGINAL(mean)")
display(1 - modified_df_mean_fit /original_df_mean_fit)

------------------------------ 	 ORIGINAL 	 ------------------------------

	 MEAN:

         insert   inverse  scramble
cycle  0.113788  0.100333  0.113726
order  0.113526  0.113787  0.090330
pmx    0.113742  0.113760  0.089604

	 STD:

         insert   inverse  scramble
cycle  0.000002  0.007655  0.000114
order  0.000458  0.000007  0.040305
pmx    0.000087  0.000031  0.038249

------------------------------ 	 MODIFIED 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.324120  0.024993  0.069243
order  0.081949  0.068640  0.091503
pmx    0.109210  0.090196  0.108545

	 STD:

         insert   inverse  scramble
cycle  0.379651  0.000001  0.044530
order  0.044193  0.042897  0.038475
pmx    0.007718  0.037754  0.008073

------------------------------ 	 COMPARING 	 ------------------------------
	 MODIFIED(mean) < ORIGINAL(mean)

       insert  inverse  scramble
cycle   False     True      True
order    True     True     False
pmx      True     True     False

	 MODIFIED(mean)/ORIGINAL(mean)

         insert   inverse  scramble
cycle -1.848453  0.750899  0.391139
order  0.278147  0.396766 -0.012981
pmx    0.039845  0.207140 -0.211376

# Laplace $(\mu = 0.5, \sigma = 0.2)$

In [6]:
dist_name = "laplace"
 
model_type = "original"
print("---"*10, "\t ORIGINAL \t", "---"*10)
original_df_mean_fit, original_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(original_df_mean_fit)
print("\t STD: ")
display(original_df_std_fit)

print("---"*10, "\t MODIFIED \t", "---"*10)
model_type = "modified"
modified_df_mean_fit, modified_df_std_fit = construct_dataframe(dist_name, model_type, x_operations, mut_operations, results_dir, num_qubits, eps)
print("\t MEAN: ")
display(modified_df_mean_fit)
print("\t STD: ")
display(modified_df_std_fit)


print("---"*10, "\t COMPARING \t", "---"*10)

print("\t MODIFIED(mean) < ORIGINAL(mean) ")

display(modified_df_mean_fit < original_df_mean_fit)

print("\t MODIFIED(mean)/ORIGINAL(mean)")
display(1 - modified_df_mean_fit /original_df_mean_fit)

------------------------------ 	 ORIGINAL 	 ------------------------------

	 MEAN:

         insert   inverse  scramble
cycle  0.302678  0.321379  0.301845
order  0.305837  0.304713  0.319789
pmx    0.305465  0.317234  0.264412

	 STD:

         insert   inverse  scramble
cycle  0.025144  0.000010  0.000713
order  0.026927  0.028878  0.002764
pmx    0.026720  0.007018  0.087970

------------------------------ 	 MODIFIED 	 ------------------------------
	 MEAN:

         insert   inverse  scramble
cycle  0.253538  0.266692  0.302202
order  0.262415  0.304233  0.108249
pmx    0.266763  0.295723  0.267520

	 STD:

         insert   inverse  scramble
cycle  0.082425  0.092076  0.028246
order  0.086839  0.027006  0.092352
pmx    0.092171  0.025473  0.092603

------------------------------ 	 COMPARING 	 ------------------------------
	 MODIFIED(mean) < ORIGINAL(mean)

       insert  inverse  scramble
cycle    True     True     False
order    True     True      True
pmx      True     True     False

	 MODIFIED(mean)/ORIGINAL(mean)

         insert   inverse  scramble
cycle  0.162350  0.170163 -0.001181
order  0.141979  0.001574  0.661499
pmx    0.126698  0.067808 -0.011756